[Unit]
Description=Mean Reversion Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bot_meanrev
ExecStart=/bin/bash -c '/usr/bin/python3 -u /home/ubuntu/bot_meanrev/meanrevbot.py >> /home/ubuntu/bot_meanrev/meanrev.log 2>&1'
Restart=always
RestartSec=10
MemoryMax=200M

[Install]
WantedBy=multi-user.target
