[Unit]
Description=VWAP Mean-Reversion Clone
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bot_vwap
ExecStart=/bin/bash -c "/usr/bin/python3 -u /home/ubuntu/bot_vwap/vwapbot.py >> /home/ubuntu/bot_vwap/vwap.log 2>&1"
Restart=always
RestartSec=10
MemoryMax=200M

[Install]
WantedBy=multi-user.target
